body {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    font-family: arial !important;
    font-weight: bold !important;
}

.form-custom {
    background-color: #D7D7D7 !important;
    border: 2px solid #000000 !important;
    border-radius: 5px !important;
    padding: 50px !important;
}

.drop-area {
    background-color: #FFFFFF;
    border: 2px dashed #000000;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.screen {
    background-color: #000000 !important;
    color: #66FF00 !important;
}

::placeholder {
    color: #66FF00 !important;
}